body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #645f5f;
    font-size: 30px;
}
.section-center {
    background: #fff;
    padding: 12rem;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.btn {
    padding: 0.5rem 1rem;
    background: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
}
.btn:hover {
    background: #55c355;
}
.result {
    margin: 0.5rem 0;
    padding: 0.5rem;
    background: #f1f1f1;
    border-left: 4px solid #5cb85c;
}
.lorem-form {
    margin-bottom: 2rem;
}
.lorem-form label {
    margin-right: 1rem;
    font-size: 20px;
}
.lorem-form input {
    width: 50px;
    padding: 0.25rem;
    margin-right: 5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}
